@font-face {
  font-family: 'youtube-instabug';
  src:  url('fonts/youtube-instabug.eot?dr1lpf');
  src:  url('fonts/youtube-instabug.eot?dr1lpf#iefix') format('embedded-opentype'),
    url('fonts/youtube-instabug.ttf?dr1lpf') format('truetype'),
    url('fonts/youtube-instabug.woff?dr1lpf') format('woff'),
    url('fonts/youtube-instabug.svg?dr1lpf#youtube-instabug') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="yti-"], [class*=" yti-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'youtube-instabug' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.yti-share:before {
  content: "\e900";
}
.yti-thumbs-down:before {
  content: "\e901";
}
.yti-thumbs-up:before {
  content: "\e902";
}
.yti-verified-channel:before {
  content: "\e903";
}
.yti-search:before {
  content: "\e904";
}
.yti-close:before {
  content: "\e905";
}
.yti-filter:before {
  content: "\e906";
}
.yti-more-vertical:before {
  content: "\e907";
}
.yti-more-horizontal:before {
  content: "\e908";
}
.yti-spinner-dots:before {
  content: "\e97f";
}
.yti-spinner-circle:before {
  content: "\e981";
}
.yti-youtube:before {
  content: "\ea9d";
}
