$icomoon-font-family: "youtube-instabug" !default;
$icomoon-font-path: "assets/icons/fonts" !default;

$yti-share: "\e900";
$yti-thumbs-down: "\e901";
$yti-thumbs-up: "\e902";
$yti-verified-channel: "\e903";
$yti-search: "\e904";
$yti-close: "\e905";
$yti-filter: "\e906";
$yti-more-vertical: "\e907";
$yti-more-horizontal: "\e908";
$yti-spinner-dots: "\e97f";
$yti-spinner-circle: "\e981";
$yti-youtube: "\ea9d";

