@import "../variables.scss";
/**
  * Backgrounds
  */
.yt-header-background {
  background-color: $default-header-background;

  @media screen and (min-width: $desktop-breakpoint) {
    background-color: $desktop-header-background;
  }
}
.yt-content-background {
  background-color: $content-background;
}

/**
  * Texts
  */
.yt-text-primary-color {
  color: $text-primary-color;
}
.yt-text-secondary-color {
  color: $text-secondary-color;
}
