@import "../variables.scss";
/**
  * Backgrounds
  */
.yt-content-background {
  background-color: $content-background;
}

/**
  * Texts
  */
.yt-text-primary-color {
  color: $text-primary-color;
}
.yt-text-secondary-color {
  color: $text-secondary-color;
}
.yt-text-primary-accent {
  color: $white;
}
