@import "../variables.scss";

/** 
    Font family
*/
.yt-font-family {
  font-family: $default-font-family;
}

/** 
    Font sizes
*/
@mixin font-resize($count, $scale) {
  $size: $default-font-size;
  @for $i from 0 to $count {
    @if $scale == "up" {
      $size: $font-size-factor * $size;
    } @else if $scale == "down" {
      $size: $size / $font-size-factor;
    }
  }
  font-size: $size;
}
.yt-font-size {
  &-smaller {
    @include font-resize(2, down);
  }
  &-small {
    @include font-resize(1, down);
  }
  &-default {
    font-size: $default-font-size;
  }
  &-big {
    @include font-resize(1, up);
  }
  &-bigger {
    @include font-resize(2, up);
  }
}

/** 
  Text style
*/
.yt-font-weight {
  &-normal {
    font-weight: normal;
  }
  &-bold {
    font-weight: bold;
  }
  &-lighter {
    font-weight: lighter;
  }
}

.yt-text {
  &-decoration {
    &-none {
      text-decoration: none;
    }
    &-underline {
      text-decoration: underline;
    }
  }

  &-align {
    &-center {
      text-align: center;
    }
  }
}
