/**
 * This is abstract color names to be used later
 * Color names according to https://www.htmlcsscolor.com/ I'm not responsible for some weird names especially zambezi :D
 */
$red: #ff0000;
$white: #ffffff;
$black: #030303;
$nero: #282828;
$zambezi: #606060;
$snow: #f9f9f9;
$very-light-grey: #cccccc;
$white-smoke: #f8f8f8;
