/** 
    Variables
*/
@import 'variables.scss';

/** 
    Utility classes
*/
@import 'utilities/typography.scss';
@import 'utilities/borders.scss';
@import 'utilities/coloring.scss';
@import 'utilities/displaying.scss';
@import 'utilities/positioning.scss';
@import 'utilities/variety.scss';
@import 'utilities/spacing.scss';

html, body{
    margin: 0;
    background-color: $content-background;
    overflow-x: hidden;
}