@import "./colors.scss";
/**
 *  Colors
*/
$brand-color: $red;
$default-header-background: $brand-color;
$default-header-text-color: $white;
$desktop-header-background: $white;
$desktop-header-text-color: $black;
$content-background: $snow;
$text-primary-color: $black;
$text-secondary-color: $zambezi;
$default-border-color: $very-light-grey;

/**
 *  Fonts
*/
$default-font-family: sans-serif;
$default-font-size: 16px;
$font-size-factor: 1.125;

/**
 *  Breakpoints
*/
$desktop-breakpoint: 900px;

/**
 * Borders
*/
$default-border-radius: 8px;
